<ion-header>
  <ion-navbar color="default">

    <img src="./assets/imgs/logo.png" id="logo">
   <ion-buttons end class="hidden-xs">
      <button ion-button *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-buttons>
    <button ion-button menuToggle end class="hidden-lg" color="brand-color">
      <ion-icon name="apps"></ion-icon>
    </button>    
  </ion-navbar>
</ion-header>
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="brand-color">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>