<ion-header>
  <ion-navbar color="default" class="navbar">

    <h1>Zárate</h1><h5>SEGUROS</h5>
   <ion-buttons end class="hidden-xs navbar-buttons">
      <button ion-button *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-buttons>
    <button ion-button menuToggle end class="hidden-lg" color="brand-color">
      <ion-icon name="apps"></ion-icon>
    </button>    
  </ion-navbar>
</ion-header>
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="brand-color">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-footer no-border class="companies-footer">  
  <div class="img-content">
    <img src="./assets/imgs/footer/mapfre.jpg">
  </div>
  <div class="img-content">
    <img src="./assets/imgs/footer/allianz.png">
  </div>
  <div class="img-content">
    <img src="./assets/imgs/footer/metlife.png">
  </div>
  <div class="img-content">
    <img src="./assets/imgs/footer/qualitas.png">
  </div>
  <div class="img-content">
    <img src="./assets/imgs/footer/gnp.png">
  </div>
  <div class="img-content">
    <img src="./assets/imgs/footer/aba.png">
  </div>
  <div class="img-content">
    <img src="./assets/imgs/footer/afirme.jpg">
  </div>
  <div class="footer-info">Jesús García #1276-1 Col. Villaseñor C.P. 44260, Guadalajara, Jalisco, México. Teléfonos: 38-54-9522 y 38-53-89-73</div>
</ion-footer>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
