<ion-content>
<ion-slides *ngIf="images && images.length" autoplay="5000" loop="true" speed="500" class="main-banner">
  <ion-slide *ngFor="let img of images" >
    <img src="{{ img }}">
  </ion-slide>
</ion-slides>

  <ion-fab bottom right edge >
    <button ion-fab mini color="brand-color"><ion-icon name="thumbs-up"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="brand-color"><a href="https://www.facebook.com/ines.guizar.7" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></button>
      <button ion-fab color="brand-color"><ion-icon name="logo-twitter"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-card color="brand-color" class="description-box bg-gray">
  <ion-card-content text-center>
    La protección perfecta para tu empresa
  </ion-card-content>
</ion-card>

  <div class="arrow-wrapper">
  <div>
    <strong>Protege tu patrimonio</strong><hr>Seguro de daños para proteger tu negocio contra robo, incendio, sismo.<br>Seguros de autos todo tipo de uso.<br>Camiones de servicio público de pasajeros.<br>Camiones de construcción.<br>Seguros para la carga que transportas.
  </div>
  <div>
    <strong>Protege tu patrimonio</strong><hr>Seguros de vida descuento vía nómina.<br>Seguros de gastos médicos mayores.<br>Seguros de accidentes personales.<br>Planes de ahorro y retiro.
  </div>
  </div>
</ion-content>