<ion-content>
<ion-slides *ngIf="images && images.length" autoplay="5000" loop="true" speed="500" class="main-banner">
  <ion-slide *ngFor="let img of images" >
    <img src="{{ img }}">
  </ion-slide>
</ion-slides>

  <ion-fab bottom right edge >
    <button ion-fab mini color="brand-color"><ion-icon name="thumbs-up"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="brand-color"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab color="brand-color"><ion-icon name="logo-twitter"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-card color="brand-color" class="description-box bg-gray">
  <ion-card-content text-center>
    Trabajamos con aquellas compañías aseguradoras que elegimos en base a su solidez<br>
    experiencia en el mercado y en el producto, mejor atención al cliente y que ofrezca un<br>
    excelente precio.
  </ion-card-content>
</ion-card>

<ion-card color="" class="description-box">
  <ion-card-content text-center>
    Metlife, Allianz, Mapfre, Seguros Afirme<br>Qualitas, AXA, ABA y GNP
  </ion-card-content>
</ion-card>

<ion-card color="" class="description-box last-element">
  <ion-card-content text-center>
    <div class="ribbon-wrapper background-orange">
      <div class="ribbon-text background-orange">Solidez, experiencia y atención</div>
    </div>
    <strong>¡Contáctanos!</strong>
  </ion-card-content>
</ion-card>
</ion-content>